@font-face {
  font-family: 'icons';
  src: url('/fonts/icons/fontello.eot');
  src: url('/fonts/icons/fontello.eot?40388999#iefix') format('embedded-opentype'),
       url('/fonts/icons/fontello.woff?40388999') format('woff'),
       url('/fonts/icons/fontello.ttf?40388999') format('truetype'),
       url('/fonts/icons/fontello.svg?40388999#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icons_2';
  src:url('/fonts/icons/icomoon.eot?-qajrmr');
  src:url('/fonts/icons/icomoon.eot?#iefix-qajrmr') format('embedded-opentype'),
  url('/fonts/icons/icomoon.woff?-qajrmr') format('woff'),
  url('/fonts/icons/icomoon.ttf?-qajrmr') format('truetype'),
  url('/fonts/icons/icomoon.svg?-qajrmr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon_2($icon){
  font-family: "icons_2";
  font-variant: normal;
  text-transform: none;
  font-style: normal;
  font-weight: normal;
  speak: none;
  @if $icon == 'music' {
    content: "\e600";
  }
  @if $icon == 'headphones' {
    content: "\e601";
  }
  @if $icon == 'film' {
    content: "\e602";
    }
  @if $icon == 'offsite_1' {
    content: "\e603";
    }
  @if $icon == 'offsite_2' {
    content: "\e604";
    }
  @if $icon == 'offsite_3' {
    content: "\e605";
    }
  @if $icon == 'offsite_4' {
    content: "\e606";
    }
  @if $icon == 'pdf' {
    content: "\e607";
    }
  @if $icon == 'doc' {
    content: "\e608";
  }
  @if $icon == 'xls' {
    content: "\e609";
  }
  @if $icon == 'xml' {
    content: "\e60a";
  }
  @if $icon == 'audio' {
    content: "\e60b";
  }
  @if $icon == 'video' {
    content: "\e60c";
  }
  @if $icon == 'offsite_5' {
    content: "\e60d";
  }
  @if $icon == 'offsite_6' {
    content: "\e60e";
  }
}


@mixin icon($icon) {
  font-family: "icons";
  font-variant: normal;
  text-transform: none;
  font-style: normal;
  font-weight: normal;
  speak: none;

  @if $icon == 'menu' {
    content: '\e800';
  }
  @if $icon == 'close' {
    content: '\e801';
  }
  @if $icon == 'triangle-right' {
    content: '\e80c';
  }
  @if $icon == 'pointer-right' {
    content: '\e807';
  }
  @if $icon == 'play' {
    content: '\e808';
  }
  @if $icon == 'pause' {
    content: '\e809';
  }
  @if $icon == 'facebook' {
    content: '\e80b';
  }
  @if $icon == 'triangle-left' {
    content: '\e80d';
  }
  @if $icon == 'instagram-squared' {
    content: '\e803';
  }
  @if $icon == 'twitter-squared' {
    content: '\e805';
  }
  @if $icon == 'twitter' {
    content: '\e80a';
  }
  @if $icon == 'youtube-squared' {
    content: '\e806';
  }
  @if $icon == 'search' {
    content: '\e802';
  }
  @if $icon == 'facebook-squared' {
    content: '\e804';
  }
  @if $icon == 'double-angle' {
    content: '\e80e';
  }
  @if $icon == 'arrow' {
    content: '\e807';
  }
  @if $icon == 'down-single' {
    content: '\e80f';
  }
  @if $icon == 'up-single' {
    content: '\e810';
  }
}
