// Colors
$color-black: #000000;
$color-white: #FFFFFF;
$color-red: #ED584F;


// Colors: Semantic
$color-janeiro: $color-red;
$color-text: $color-white;
$color-text-invert: $color-black;
$color-text-link: $color-white;
$color-heading: $color-janeiro;
$color-heading-invert: $color-text-link;
