---
title: Welcome to JD prototype foundation
---

<div class="welcome page page--start">
<div class="content-wrap">
	  <%= partial 'partials/emblem' %><h1 class="contain-center">Janeiro Digital Prototype Base</h1>
  		<%= partial 'partials/example' %>
  		<p class="doc">
    		<%= link_to "Read Middleman Online Documentation", "http://middlemanapp.com/" %>
  		</p><!-- .doc -->
</div>
</div><!-- .welcome -->
