<h1>Component Demo</h1>
<div class="page--component">
  <div class="row">
  	<div class="section section-1 ">
		<%= partial('partials/slider', :locals => {:sliderType => 'one'}); %>
	</div>
	<div class="section section-2 empty">
		<h2>Empty Container</h2>
	</div>
  </div>
  <div class="row">
  	<div class="section section-2 empty">
  		<!-- <h2>Empty Container</h2> -->
  		<%= partial('partials/list', :locals => {:listTypes => ['images']}); %>
	</div>
	<div class="section section-1 empty">
		<h2>Empty Container</h2>
		<%# partial('partials/slider', :locals => {:sliderType => 'two'}); %>
	</div>
  </div>

</div>